@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: DancingScript;
    src: url(../assets/DancingScript.ttf) format('truetype');
}
body{
    background: #f3f7fb;
    scroll-behavior: smooth;
}
@media (prefers-reduced-motion:reduce){
    html{
        scroll-behavior:auto;
    }
}