@media (max-width:959px) {
  .inicio-bg {
    background-image: url('../assets/dental2.avif');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .danube-filter{
    background: linear-gradient(0deg, #486dad, #ebf8e1a7 ,#ffffff3c);
  }
} 
