.inicio-bg {
  background-image: url('../assets/dental2.avif');
  /* background-image: linear-gradient(0deg, #486dad, #ebf8e1a7 ,#ffffff3c),url('../assets/dental2.avif'); */
  background-image: linear-gradient(0deg,#00000080, #00000046),url('../assets/dental2.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
